
.about-container {
  margin-top: 30px;
  margin-left: 20px;
  max-width: 90%;
  background-color: #0f0f0f;
  padding: 40px;
  border-radius: 12px;
  border: 2px solid var(--clr-neon);
  box-shadow: 0 0 25px rgba(0, 219, 252, 0.5);
}

.about-container h1 {
  font-size: 2.4rem;
  color: #00b4d8;
  margin-bottom: 20px;
  text-align: center;
}

.about-container h2 {
  font-size: 1.4rem;
  color: #0077b6;
  margin-top: 35px;
  margin-bottom: 15px;
  border-left: 4px solid #00b4d8;
  padding-left: 10px;
}

.about-container p,
.about-container li {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #ffff;
}

.about-container ul {
  padding-left: 20px;
  margin-top: 10px;
}

.intro {
  margin-bottom: 30px;
  font-size: 1.15rem;
  color: #ffff;
}

@media (max-width: 975px) {


  .about-container {
    margin-top: 0;
    margin-left: 0px;
    padding: 24px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
  }

  .about-container h1 {
    font-size: 2rem;
  }

  .about-container h2 {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .about-container p,
  .about-container li {
    font-size: 1rem;
    line-height: 1.5;
  }

  .intro {
    font-size: 1.05rem;
  }
}
